body {
    text-align: center;
}

a {
    display: block;
    margin: 10px;
}

h1 {
    color: red;
}

p {
    margin: 15px;
}

.link-box {
    background-color: #eaf6fc;
    border: 2px solid #cccccc;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    box-sizing: border-box;
    max-width: 500px; /* tamanho máximo */
}

.link-box a {
    display: block;
    margin: 0;
    color: #000;
    font-weight: bold;
    text-decoration: none;
} 

.texto-caixa {
    text-align: center;
    font-size: 28px;
    margin: 10px 0;
}

.vermelho {
    color: red;
    font-weight: normal; /* Não é negrito */
}

.negrito {
    font-weight: bold;
    color: inherit; /* Mantém a cor padrão */
}

.cidade-box {
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
    padding: 15px;
    border: 2px solid #cccccc;
    background-color: #eaf6fc;
    box-sizing: border-box;
}

.cidade-box p {
    margin: 0;
    font-size: 28px;
    text-align: center;
}

.vermelho {
    color: red;
    font-weight: normal;
}

.negrito {
    color: black;
    font-weight: bold;
}